<footer class="jumbotron mt-5 text-center bg-black">
  <div>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="/blog/blog_0.html" class="text-dark">Blog</a>
    </li>

    <li class="list-inline-item">
      <a href="/blog/blog.rss">RSS</a>
    </li>

    <li class="list-inline-item">
      <a href="/blog/blog.json">JSON</a>
    </li>
  </ul>
  </div>
	<p>{{config.SITE_TITLE}} is a property of </br><span class="text-secondary"><a href="{{config.OWNER['url']}}">{{config.OWNER['name']}}</a> © 2019</span></p>
   <p class="small">Website made with 💙 (and 🐍, 👢) by <a href="https://twitter.com/kjaymiller">kjaymiller</a></p>
   <ul class="inline small"><a href="/pages/privacy-policy">Privacy Policy</a>
   </ul>
</footer>
