{% extends 'base.html'%}
{% block title%}{{config.SITE_TITLE}}{% endblock%}
{% block content%}
<!--Start Jumbotron  -->
        <div style="padding-top: 5rem; padding-bottom: 5rem; background: url(https://s3-us-west-2.amazonaws.com/kjaymiller/images/adventure-atlas-business-1051075.jpg);background-size: cover;">
<div class="container pt-5">
    <div class="jumbotron row bg-dark">
		<h1 class="display-5 font-italic text-light"> {{config.SITE_SUBTITLE}}</h1>
        <div class="w-50 py-5">
            <p class="text-light"><em>Jay and Jay Media </em>helps digital creators promote their brand so they can focus on building it.</p> 
    <a class="text-white" href='pages/podcast_services'><h3>Learn about abour Podcasting Services</h3></a> </div>
        
<div class="col-lg-12 py-3 text-right">
        <form
			action="https://buttondown.email/api/emails/embed-subscribe/jayandjaymedia"
			method="post"
			target="popupwindow"
			onsubmit="window.open('https://buttondown.email/jayandjaymedia', 'popupwindow')"
			class="embeddable-buttondown-form">
			<h4 class="font-italic font-weight-strong text-white"> Learn why you can trust us with managing your media! </h4> <input type="email"
			name="email"
			placeholder="Email"
			id="bd-email">
			<input type="hidden"
			value="1"
			name="embed" />
			<input class="btn btn-primary my-2"
			type="submit"
			value="Subscribe" />
	</form>
</div>
<div class='align-center text-white'>
	</div>
	</div>
</div>
        </div>
{% endblock %}

