<div class="jumbotron mx-3">

    <h3>Request a Quote</h3>

    <form name="contact" method="POST" data-netlify="true">
        <div class="form-group">
            <label class="">Your Name: <input style="width:250px;" type="text" name="name" /></label>   
        </div>

        <div class="form-group">
            <label class="">Your Email: <input style="width:250px;"  type="email" name="email" /></label>
        </div>

        <div class="form-group">
            <label class="">
                Message: 
                <textarea style="width:250px;" name="message">{{metadata._quote_form}}</textarea>
            </label>
        </div>

        <div class="form-group">
            <button class="btn btn-dark" type="submit">Send</button>
        </div>
</div>
